
  

   <!-- <app-page></app-page>
    <app-contact></app-contact> -->
    

    
<!-- <button (click)="onAdd()">Add</button>
<ul>
  <li *ngFor="let course of courses; even as isEven" >
      {{ course.name }} <span *ngIf="isEven">(EVEN)</span>

      <button (click)="onRemove(course)">Delete</button>
  </li>
</ul> -->

<!-- 
<input type="text" appInputFormat>
<div>
  &nbsp;
</div>
<div>
  &nbsp;
</div>
<div>
  &nbsp;
</div>


<signup-form></signup-form>
<div class="row">
  <div class="col-md-auto">
    <app-group>

    </app-group>
  </div>
</div> -->

  <app-post></app-post>



